
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
/*dimensions*/
--width-full: 100%;
--widt-12col: 1200px;

/*grid settings*/
--grid-gap: 20px;
--padding-default: 20px;

/*colors*/
--color-primary: #543477;
--color-secondary: #F27821;
--background-color-light: #F5F5F5;
--background-color-navigation: #00000080;
--background-color-dark: #111111;
}

* { /*reset css*/
box-sizing: border-box;
margin: 0;
padding: 0;
}

.body,html {
    width: var(--width-full);
    font-family: "Roboto", sans-serif;
    position: relative;
    background-color: var(--color-primary);
}

.container {
    display: grid;
    grid-template-rows: auto;
    gap: var(--grid-gap);
    width: var(--width-full);
}


.navigation {
    background-color: var(--background-color-navigation);
    height: 80px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    top:0;
    width: var(--width-full);
}

.fixed {
    position: fixed;
    top: 0;
    z-index: 1000;
}

.menu-container {
    max-width: var(--widt-12col);
    width: 100%;
    padding: 0 var(--padding-default);
    margin: 0 auto;
}

.menu-container ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.menu-container ul li a{
    padding: 0 10px;
    text-decoration: none;
    
    color: var(--background-color-light);
}
.menu-container ul li a:hover {
    color: var(--color-secondary);
}

.menu-container ul li {
    padding: 0 10px;
}


.navigation .logo {
    position: absolute;
    left: calc(var(--padding-default));
    top: 50%;
    transform: translateY(-50%);
    z-index: 1100;
    display: block;
}
.navigation .logo img {
    display: block;
    height: 48px;
    width: auto;
}

@media (max-width: 600px) {
    .navigation .logo img {
        height: 36px;
    }
}

.hero {
    background-image: url(../Billeder/Headerimg.png);
    min-height: 900px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    width: var(--width-full);
    margin: 0;
    border-bottom: 3px solid var(--background-color-dark);
}

.om_stykket {
    width: 90%;
    display: grid;
    height: fit-content;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: var(--grid-gap);
    margin: 0 auto;
}

.om_stykket_headline {
    height: 60px;
    color: var(--color-secondary);
    border-bottom: 1px solid var(--background-color-light);
    font-weight: 700;
    margin: 70px 0 0 0;
    font-size: 37px;
}


.om_stykket_content {
    display: flex;
    gap: var(--grid-gap);
    align-items: stretch;
    margin-bottom: 70px;
}

.om_stykket_text {
    font-size: 23px;
    color: var(--background-color-light);
    flex: 1;
    min-width: 45%;
    line-height: 2.1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.om_stykket_text p {
    margin-bottom: 1.5em; 
}

.om_stykket_image {
    flex: 1;
    min-width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.om_stykket_image img {
    display: block;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}